@charset "UTF-8";
body {
  min-width: 320px;
  min-height: 480px; }

code {
  padding: 0.1rem 0.3rem; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem; }
  table th,
  table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #b3b3b3; }
  table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #b3b3b3; }
  table tbody + tbody {
    border-top: 2px solid #b3b3b3; }
  table table {
    background-color: #010e16; }

.badge {
  border: 1px solid;
  padding: 10px 15px;
  margin: 0 5px 10px 0; }

.navbar {
  border-bottom: 0.125rem solid; }
  .navbar .nav-link {
    text-transform: uppercase; }

.navbar-brand {
  width: 20rem;
  border-left: 3px solid transparent; }

.main {
  position: relative;
  padding: 6.5rem 0 4rem;
  overflow-y: scroll; }

.container {
  padding-top: 3rem;
  padding-bottom: 1.5rem; }

.group .title {
  margin-bottom: 1.5rem; }

.title {
  border-top: 0.125rem solid;
  border-bottom: 0.125rem solid;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1rem; }

.sidebar {
  width: 100%; }
  .sidebar .container {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0; }

.intro {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35vh; }
  .intro .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .intro .title {
    width: 80%;
    border-top: 0.125rem solid;
    border-bottom: 0.250rem solid;
    margin: 0 auto 2rem auto;
    padding: 0.25rem 0;
    font-weight: 400; }
  .intro .media-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100; }
    .intro .media-cover .media-cover-image {
      position: absolute;
      top: 50%;
      left: 50%;
      max-height: none;
      max-width: none;
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.sidebar-nav {
  width: 20rem;
  border-right: 0.125rem solid;
  top: 3.4375rem;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10; }
  .sidebar-nav .fa {
    margin-right: 10px; }
  .sidebar-nav .nav-back .nav-link {
    font-size: 0.9375rem;
    line-height: 1; }
  .sidebar-nav .nav-header {
    font-size: 0.875rem;
    line-height: 1;
    margin: 0;
    padding: 11px 25px 11px 15px; }
  .sidebar-nav .nav-item.tree > .nav-link {
    font-size: 0.875rem;
    line-height: 1;
    padding: 12px 25px 12px 15px; }
    .sidebar-nav .nav-item.tree > .nav-link .fa-angle-left {
      line-height: 1;
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .sidebar-nav .nav-item.tree > .nav-link.collapsed .fa-angle-left {
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  .sidebar-nav .nav-item.tree.active > .nav-link .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    line-height: 1; }
  .sidebar-nav .nav-link {
    font-size: 0.875rem;
    line-height: 1;
    padding: 11px 25px 11px 15px;
    border-left: 3px solid; }

.page-template--api .container {
  padding-top: 1.5rem;
  padding-bottom: 3rem; }

.page-template--docs .jumbotron {
  z-index: 5; }
  .page-template--docs .jumbotron .container {
    padding-bottom: 0; }

.page-template--docs .jumbotron-fluid {
  padding-bottom: 0;
  margin-bottom: 0; }

.page-template--doc .main {
  padding: 0; }

.page-template--doc .document {
  padding: 8rem 0 4rem 20rem;
  position: relative; }

.page-template--news .card-deck .card {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-bottom: 1.5rem; }

.page-template--news .card-body {
  text-align: left; }

.page-template--news .card-title {
  text-transform: uppercase; }

.page-template--news .card-img-top {
  border-bottom: 0.25rem solid; }

.page-template--news_item .intro {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 55vh; }

.page-template--resource .main {
  padding: 0; }

.page-template--resource .resource {
  padding: 8rem 0 4rem 20rem;
  position: relative; }

.page-template--resource .title + .description {
  margin-bottom: 2.5rem; }

.page-template--resource .container {
  padding-top: 1.5rem;
  padding-bottom: 3rem; }

.page-template--resource .method-title {
  margin-bottom: 1rem; }

.page-template--resource .method-http {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px; }

.page-template--resource .method-http-verb {
  border-radius: 4px 0 0 4px;
  padding: 0 0.25rem;
  line-height: 2.25rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 4rem;
  -ms-flex: 0 0 4rem;
  flex: 0 0 4rem;
  text-align: center; }

.page-template--resource .method-http-path {
  border-radius: 0 4px 4px 0;
  margin-left: 0.5rem;
  padding: 0 0.25rem;
  line-height: 2.25rem; }

.page-template--resource .definition-title {
  margin-bottom: 1rem; }

.page-template--resource .definition-items {
  list-style: none;
  padding: 0; }
  .page-template--resource .definition-items .definition-item:first-child {
    border-top: 1px solid; }
  .page-template--resource .definition-items .definition-item {
    border-bottom: 1px solid;
    padding: 1.5rem 0;
    list-style: none; }

.page-template--modular .main {
  overflow: hidden;
  position: relative;
  top: 0;
  padding: 0; }
  .page-template--modular .main .modular {
    position: relative; }
  .page-template--modular .main .modular.inset {
    padding: 4rem 0; }

.modular-template--features .card-group .card {
  margin: 0; }
  .modular-template--features .card-group .card .card-img-top {
    border-radius: 100%; }

.modular-template--features .card-group .card:nth-child(n+4) {
  border-bottom: 0;
  margin: 0; }

.modular-template--features .card-group .card:nth-child(3n) {
  border-right: 0;
  margin: 0; }

.modular-template--features.light .card-group .card {
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa; }

.modular-template--intro {
  height: 80vh; }
  .modular-template--intro .backdrop {
    height: 100%;
    width: 100%; }
  .modular-template--intro .callout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .modular-template--intro .callout .container {
      height: 100%;
      padding: 4rem 0 0; }

#particles-js canvas {
  display: block;
  vertical-align: bottom; }

.mac.window {
  height: 100%;
  width: 80%;
  background: #ffffff;
  border-top: 1px solid #acacac;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  margin: 0 auto; }
  .mac.window .titlebar {
    color: #4d494d;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#d5d5d5));
    background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
    background: linear-gradient(to bottom, #ebebeb, #d5d5d5);
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding: 0.4rem 0;
    white-space: nowrap; }
    .mac.window .titlebar .button {
      float: left;
      display: inline-block;
      padding: 0 0.35rem; }
    .mac.window .titlebar .action {
      height: 1.15rem;
      width: 1.15rem;
      line-height: 1.15rem;
      padding: 0 0.5rem;
      border-radius: 50%; }
    .mac.window .titlebar .action-close {
      background: #ff5c5c;
      border: 1px solid #e33e41;
      color: #820005;
      cursor: default; }
    .mac.window .titlebar .action-minimize {
      background: #ffbd4c;
      border: 1px solid #e09e3e;
      color: #9a5518;
      cursor: default; }
    .mac.window .titlebar .action-zoom {
      background: #00ca56;
      border: 1px solid #14ae46;
      color: #006519;
      cursor: default; }
  .mac.window .content {
    padding: 1.75rem 2.5rem; }

/* Theme – Default */
.theme-style--whiteboard {
  background: #010e16;
  color: #010e16; }
  .theme-style--whiteboard a {
    color: #fafbfc;
    text-decoration: none; }
  .theme-style--whiteboard a:hover {
    color: #01b2f1;
    text-decoration: none; }
  .theme-style--whiteboard code {
    background: rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 255, 255, 0.3);
    color: #bd4147; }
  .theme-style--whiteboard .title {
    color: rgba(255, 255, 255, 0.81);
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(25%, white), color-stop(75%, white), to(rgba(255, 255, 255, 0.3))) 1;
    -webkit-border-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, white 25%, white 75%, rgba(255, 255, 255, 0.3) 100%) 1;
    -o-border-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 0%, white 25%, white 75%, rgba(255, 255, 255, 0.3) 100%) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(25%, white), color-stop(75%, white), to(rgba(255, 255, 255, 0.3))) 1;
    border-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, white 25%, white 75%, rgba(255, 255, 255, 0.3) 100%) 1; }
  .theme-style--whiteboard .intro .title {
    font-size: 3.5rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(52, 58, 64, 0.15)), color-stop(25%, rgba(52, 58, 64, 0.8)), color-stop(75%, rgba(52, 58, 64, 0.8)), to(rgba(52, 58, 64, 0.15)));
    background: -webkit-linear-gradient(left, rgba(52, 58, 64, 0.15) 0%, rgba(52, 58, 64, 0.8) 25%, rgba(52, 58, 64, 0.8) 75%, rgba(52, 58, 64, 0.15) 100%);
    background: -o-linear-gradient(left, rgba(52, 58, 64, 0.15) 0%, rgba(52, 58, 64, 0.8) 25%, rgba(52, 58, 64, 0.8) 75%, rgba(52, 58, 64, 0.15) 100%);
    background: linear-gradient(to right, rgba(52, 58, 64, 0.15) 0%, rgba(52, 58, 64, 0.8) 25%, rgba(52, 58, 64, 0.8) 75%, rgba(52, 58, 64, 0.15) 100%);
    color: #00aeff;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 174, 255, 0.3)), color-stop(25%, rgba(0, 174, 255, 0.8)), color-stop(75%, rgba(0, 174, 255, 0.8)), to(rgba(0, 174, 255, 0.3))) 1;
    -webkit-border-image: -webkit-linear-gradient(rgba(0, 174, 255, 0.3) 0%, rgba(0, 174, 255, 0.8) 25%, rgba(0, 174, 255, 0.8) 75%, rgba(0, 174, 255, 0.3) 100%) 1;
    -o-border-image: -o-linear-gradient(rgba(0, 174, 255, 0.3) 0%, rgba(0, 174, 255, 0.8) 25%, rgba(0, 174, 255, 0.8) 75%, rgba(0, 174, 255, 0.3) 100%) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 174, 255, 0.3)), color-stop(25%, rgba(0, 174, 255, 0.8)), color-stop(75%, rgba(0, 174, 255, 0.8)), to(rgba(0, 174, 255, 0.3))) 1;
    border-image: linear-gradient(rgba(0, 174, 255, 0.3) 0%, rgba(0, 174, 255, 0.8) 25%, rgba(0, 174, 255, 0.8) 75%, rgba(0, 174, 255, 0.3) 100%) 1; }
  .theme-style--whiteboard .badge-default {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15); }
  .theme-style--whiteboard .navbar {
    background-color: rgba(52, 58, 64, 0.8);
    border-color: #00aeff; }
    .theme-style--whiteboard .navbar .nav-item .nav-link {
      color: #fafbfc;
      text-decoration: none; }
    .theme-style--whiteboard .navbar .nav-item .nav-link:hover {
      color: #01b2f1;
      text-decoration: none; }
    .theme-style--whiteboard .navbar .nav-item.active .nav-link {
      border-bottom: 3px solid #00aeff; }
  .theme-style--whiteboard .sidebar-nav {
    border-color: rgba(0, 174, 255, 0.6); }
    .theme-style--whiteboard .sidebar-nav .nav-header {
      background: #1a2226;
      color: #4b646f; }
    .theme-style--whiteboard .sidebar-nav .nav-link {
      border-color: transparent; }
    .theme-style--whiteboard .sidebar-nav .nav-link:hover {
      background: #1e282c; }
    .theme-style--whiteboard .sidebar-nav .nav-group {
      background: #2c3b41; }
    .theme-style--whiteboard .sidebar-nav .nav-item.tree.active > .nav-link {
      color: #01b2f1;
      text-decoration: none;
      background-color: #1e282c;
      border-color: #00aeff; }
  .theme-style--whiteboard .card {
    background: #343A40;
    border: none; }
    .theme-style--whiteboard .card .list-group-item {
      color: #fafbfc;
      text-decoration: none;
      background-color: #343A40; }
    .theme-style--whiteboard .card .list-group-item:hover {
      color: #01b2f1;
      text-decoration: none;
      background-color: #1e282c; }

.theme-style--whiteboard.page-template--news .news-cards {
  border-color: #00aeff; }

.theme-style--whiteboard.page-template--resource .method-http {
  background: #ffffff; }
  .theme-style--whiteboard.page-template--resource .method-http .method-http-path {
    color: #333333; }

/* Theme – Blizzard */
.theme-style--blizzard {
  background: #282E36;
  color: rgba(255, 255, 255, 0.8); }
  .theme-style--blizzard a {
    color: #00aeff;
    text-decoration: none; }
  .theme-style--blizzard a:hover {
    color: #91e4ff;
    text-decoration: none; }
  .theme-style--blizzard code {
    background: rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 255, 255, 0.3);
    color: #bd4147; }
  .theme-style--blizzard .title {
    color: rgba(255, 255, 255, 0.81);
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(25%, white), color-stop(75%, white), to(rgba(255, 255, 255, 0.3))) 1;
    -webkit-border-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, white 25%, white 75%, rgba(255, 255, 255, 0.3) 100%) 1;
    -o-border-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 0%, white 25%, white 75%, rgba(255, 255, 255, 0.3) 100%) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(25%, white), color-stop(75%, white), to(rgba(255, 255, 255, 0.3))) 1;
    border-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, white 25%, white 75%, rgba(255, 255, 255, 0.3) 100%) 1; }
  .theme-style--blizzard .intro .title {
    font-size: 3.5rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(52, 58, 64, 0.15)), color-stop(25%, rgba(52, 58, 64, 0.8)), color-stop(75%, rgba(52, 58, 64, 0.8)), to(rgba(52, 58, 64, 0.15)));
    background: -webkit-linear-gradient(left, rgba(52, 58, 64, 0.15) 0%, rgba(52, 58, 64, 0.8) 25%, rgba(52, 58, 64, 0.8) 75%, rgba(52, 58, 64, 0.15) 100%);
    background: -o-linear-gradient(left, rgba(52, 58, 64, 0.15) 0%, rgba(52, 58, 64, 0.8) 25%, rgba(52, 58, 64, 0.8) 75%, rgba(52, 58, 64, 0.15) 100%);
    background: linear-gradient(to right, rgba(52, 58, 64, 0.15) 0%, rgba(52, 58, 64, 0.8) 25%, rgba(52, 58, 64, 0.8) 75%, rgba(52, 58, 64, 0.15) 100%);
    color: #00aeff;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 174, 255, 0.3)), color-stop(25%, rgba(0, 174, 255, 0.8)), color-stop(75%, rgba(0, 174, 255, 0.8)), to(rgba(0, 174, 255, 0.3))) 1;
    -webkit-border-image: -webkit-linear-gradient(rgba(0, 174, 255, 0.3) 0%, rgba(0, 174, 255, 0.8) 25%, rgba(0, 174, 255, 0.8) 75%, rgba(0, 174, 255, 0.3) 100%) 1;
    -o-border-image: -o-linear-gradient(rgba(0, 174, 255, 0.3) 0%, rgba(0, 174, 255, 0.8) 25%, rgba(0, 174, 255, 0.8) 75%, rgba(0, 174, 255, 0.3) 100%) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 174, 255, 0.3)), color-stop(25%, rgba(0, 174, 255, 0.8)), color-stop(75%, rgba(0, 174, 255, 0.8)), to(rgba(0, 174, 255, 0.3))) 1;
    border-image: linear-gradient(rgba(0, 174, 255, 0.3) 0%, rgba(0, 174, 255, 0.8) 25%, rgba(0, 174, 255, 0.8) 75%, rgba(0, 174, 255, 0.3) 100%) 1; }
  .theme-style--blizzard .badge-default {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15); }
  .theme-style--blizzard .navbar {
    background-color: rgba(52, 58, 64, 0.8);
    border-color: #00aeff; }
    .theme-style--blizzard .navbar .nav-item .nav-link {
      color: #00aeff;
      text-decoration: none; }
    .theme-style--blizzard .navbar .nav-item .nav-link:hover {
      color: #91e4ff;
      text-decoration: none; }
    .theme-style--blizzard .navbar .nav-item.active .nav-link {
      border-bottom: 3px solid #00aeff; }
  .theme-style--blizzard .sidebar-nav {
    border-color: rgba(0, 174, 255, 0.6); }
    .theme-style--blizzard .sidebar-nav .nav-header {
      background: #1a2226;
      color: #4b646f; }
    .theme-style--blizzard .sidebar-nav .nav-link {
      border-color: transparent; }
    .theme-style--blizzard .sidebar-nav .nav-link:hover {
      background: #1e282c; }
    .theme-style--blizzard .sidebar-nav .nav-group {
      background: #2c3b41; }
    .theme-style--blizzard .sidebar-nav .nav-item.tree.active > .nav-link {
      color: #91e4ff;
      text-decoration: none;
      background-color: #1e282c;
      border-color: #00aeff; }
  .theme-style--blizzard .card {
    background: #343A40;
    border: none; }
    .theme-style--blizzard .card .list-group-item {
      color: #00aeff;
      text-decoration: none;
      background-color: #343A40; }
    .theme-style--blizzard .card .list-group-item:hover {
      color: #91e4ff;
      text-decoration: none;
      background-color: #1e282c; }

.theme-style--blizzard.page-template--news .news-cards {
  border-color: #00aeff; }

.theme-style--blizzard.page-template--resource .method-http {
  background: #ffffff; }
  .theme-style--blizzard.page-template--resource .method-http .method-http-path {
    color: #333333; }

/*# sourceMappingURL=whiteboard.css.map */
