{% import 'macros/pages.html.twig' as pageMacro %}

{% set items =  page.header.features %}

<section class="features modular inset">
    <div class="content container text-center">
        {{ page.content }}
    </div>
    <div class="container">
        {% set vars = {
            'class': { 'type': 'group', 'align_content': 'start', 'align_items': 'start' }
        } %}
        {% embed 'bootstrap/card-group.html.twig' with vars %}
            {% block cards %}
                {% for item in items %}
                    {% set vars = {
                        'class': { 'outline': false, 'align': 'center' },
                        'image_top': {
                            'url': page.media[item.image_selected].resize(item.image_width, item.image_height).url
                        },
                        'body': { 'title': item.title, 'text': item.text }
                    } %}
                    {% include 'bootstrap/cards.html.twig' with vars %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
        {% if page.header.button %}
            {% set vars = {
                'class': { 'outline': 'true' },
                'uri': page.header.button.uri,
                'text': page.header.button.text
            } %}
            {% include 'bootstrap/button.html.twig' with vars %}
        {% endif %}
    </div>
</section>