<section class="{{ _self.pageLinkName(module.menu) }}">
    <div id="particles-js">
        <div class="container">
            <div class="mac window">
                <div class="titlebar">
                    <div class="buttons">
                        <div class="button">
                            <span class="action action-close"><strong>&times;</strong></span>
                        </div>
                        <div class="button">
                            <span class="action action-minimize"><strong>&ndash;</strong></span>
                        </div>
                        <div class="button">
                            <span class="action action-zoom"><strong>&plus;</strong></span>
                        </div>
                    </div>
                    <span class="title">CSS OS X Yosemite Window</span>
                </div>
                <div class="content">
                    <h3>Hey! What's up?</h3>
                    I'm a simple OS X Yosemite style window.
                    <!-- window content -->
                </div>
            </div>
        </div>
    </div>
</section>