// stylelint-disable

$theme-name: blizzard;

// base
//
// Base configuration elements for block-level elements.

// base: color scheme type
$wb-base-scheme-type-primary: #0e86ca;
$wb-base-scheme-type-secondary: rgba(255, 255, 255, 0.2);
$wb-base-scheme-type-inverse: rgba(0, 0, 0, 0.2);

// base: style
$wb-base-color: rgba(255, 255, 255, 0.8);

// base: background
$wb-base-background-color:  #282e36;

// base: header
$wb-base-headers-border-bottom-width: none;
$wb-base-headers-font-family: inherited;
$wb-base-headers-font-weight: 300;
$wb-base-headers-line-height: 1.618;

// base: link
$wb-base-link-color: #00aeff;
$wb-base-link-decoration: none;
$wb-base-link-hover-color: #91e4ff;
$wb-base-link-hover-decoration: none;

// inline
//
// Inline configuration for inline elements

// inline: a
$wb-inline-a-color: $wb-base-link-color;
$wb-inline-a-decoration: $wb-base-link-decoration;
$wb-inline-a-hover-color: $wb-base-link-hover-color;
$wb-inline-a-hover-decoration: $wb-base-link-hover-decoration;

// inline: code
$wb-inline-code-text-color: #bd4147;
$code-background: $wb-base-color-shade-gray-light;


// block
//
// Block configuration for block level elements

// block: body
$wb-block-body-background-color: $wb-base-background-color;
$wb-block-body-text-color: $wb-base-color;

// block: footer
$wb-block-footer-background-color: $wb-base-background-color;
$wb-block-footer-text-color: $wb-base-color;

// block: header
$wb-block-header-background-color: $wb-base-background-color;
$wb-block-header-background-text: $wb-base-color;

// block: main
$wb-block-main-background-color: $wb-base-background-color;
$wb-block-main-text-color: $wb-base-color;

// block: nav
$wb-block-nav-background-color: $wb-base-background-color;
$wb-block-nav-text-color: $wb-base-color;

// block: pre
$wb-block-pre-background-color: $wb-base-color-shade-gray-light;
$wb-block-pre-text-color: $wb-base-color-shade-gray-dark;
$wb-block-pre-border-color: $wb-base-color-shade-gray-dark;
$wb-block-pre-scrollable-max-height: 340px;

// block: table
$wb-block-table-border-width: $wb-base-border-width;
$wb-block-table-border-color: $wb-base-color-shade-gray-light;

// block: table > td
$wb-block-table-td-padding: 0.75rem;


// components
//
// Components configuration

// components: sidebar-nav
$sidebar-nav-header-font-size: 0.9375rem;
$sidebar-nav-header-line-height: 2rem;
$sidebar-nav-link-font-size: 0.9375rem;
$sidebar-nav-link-line-height: 2rem;
