.light {
  background: #F6F4F8;
  color: #777777; }
  .light h1, .light h2, .light h3, .light h4, .light h5 {
    color: #222222; }
  .light strong {
    font-weight: inherit; }
  .light a {
    color: #2aabd2;
    text-decoration: underline; }

.dark {
  background: #F6F4F8;
  color: #777777; }
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {
    color: #222222; }
  .dark strong {
    font-weight: inherit; }
  .dark a {
    color: #2aabd2;
    text-decoration: underline; }

/*@each $theme, $color in $themes {
    @include theme($theme, $color);
}*/
#particles-js canvas {
  display: block;
  vertical-align: bottom; }

.home .main {
  padding: 0; }

.main {
  padding-top: 4rem; }

.group {
  margin: 4rem auto; }
  .group .title {
    margin-bottom: 2rem; }

.api-cards .card {
  background: transparent;
  border: none; }

.partial-resource-item .title {
  margin-bottom: 4rem; }

.partial-resource-item .http-method {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 2rem; }

.partial-resource-item .http-verb {
  border-radius: 4px 0 0 4px;
  padding: 0 0.25rem;
  line-height: 2.25rem; }

.partial-resource-item .http-path {
  border-radius: 0 4px 4px 0;
  margin-left: 0.5rem;
  padding: 0 0.25rem;
  line-height: 2.25rem; }

.partial-resource-item .resource-items {
  list-style: none;
  padding: 0; }

.partial-resource-item .resource-item {
  border-bottom: 1px solid;
  padding: 1.5rem 0;
  list-style: none; }

.intro {
  height: 65vh; }
  .intro .backdrop {
    height: 100%;
    width: 100%; }
  .intro .callout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .intro .callout .container {
      height: 100%;
      padding: 4rem 0 0; }

.modular-features .card-group .card {
  margin: 0; }
  .modular-features .card-group .card .card-img-top {
    border-radius: 100%; }

.modular-features .card-group .card:nth-child(n+4) {
  border-bottom: 0;
  margin: 0; }

.modular-features .card-group .card:nth-child(3n) {
  border-right: 0;
  margin: 0; }

.modular-features.light .card-group .card {
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa; }

.main {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 4rem; }
  .main .modular {
    position: relative; }
  .main .modular.inset {
    padding: 4rem 0; }

.mac.window {
  height: 100%;
  background: #ffffff;
  border-top: 1px solid #acacac;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }
  .mac.window .titlebar {
    color: #4d494d;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#d5d5d5));
    background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
    background: linear-gradient(to bottom, #ebebeb, #d5d5d5);
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding: 0.5rem 0; }
    .mac.window .titlebar .title-text {
      font-size: 1rem;
      line-height: 1.15rem;
      padding: 0 0.5rem; }
    .mac.window .titlebar .button {
      float: left;
      display: inline-block;
      padding: 0 0.35rem; }
    .mac.window .titlebar .action {
      height: 1.15rem;
      width: 1.15rem;
      line-height: 1.15rem;
      padding: 0 0.5rem;
      border-radius: 50%; }
    .mac.window .titlebar .action-close {
      background: #ff5c5c;
      border: 1px solid #e33e41;
      color: #820005;
      cursor: default; }
    .mac.window .titlebar .action-minimize {
      background: #ffbd4c;
      border: 1px solid #e09e3e;
      color: #9a5518;
      cursor: default; }
    .mac.window .titlebar .action-zoom {
      background: #00ca56;
      border: 1px solid #14ae46;
      color: #006519;
      cursor: default; }
  .mac.window .content {
    padding: 1.75rem 2.5rem; }

/*# sourceMappingURL=whiteboard.css.map */
