.intro {
    height: 65vh;

    .backdrop {
        height: 100%;
        width: 100%;
    }

    .callout {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .container {
            height: 100%;
            padding: 4rem 0 0;
        }
    }
}