@import "modular/intro";
@import "modular/features";
@import "modular/showcase";
@import "modular/text";


.main {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 4rem;

    .modular {
        position: relative;
    }

    .modular.inset {
        padding: 4rem 0;
    }
}

