.light {
    background: #F6F4F8;
    color: #777777;

    h1, h2, h3, h4, h5 {
        color: #222222
    }

    p {

    }

    strong {
        font-weight: inherit;
    }

    a {
        color: #2aabd2;
        text-decoration: underline;
    }
}

.dark {
    background: #F6F4F8;
    color: #777777;

    h1, h2, h3, h4, h5 {
        color: #222222
    }

    p {

    }

    strong {
        font-weight: inherit;
    }

    a {
        color: #2aabd2;
        text-decoration: underline;
    }
}

.style1 {

}

.style2 {

}

.style3 {

}

.style4 {

}