{% if not isMobile() %}
    <script type="text/javascript">
      $(document).ready(function() {
        particlesJS("particles-canvas", {{ page.header.particlejs.options|json_encode() }});
      });
    </script>

    <div id="particles-canvas" class="particles-js backdrop"></div>
{% endif %}

<div class="jumbotron text-center">
    <div class="container">
        <div class="content">
            {{ page.content }}
        </div>
        <div class="actions"></div>
        <div class="version"></div>
    </div>
</div>
