.navbar-brand {
    min-width: 175px;
}

.main {
    overflow: hidden;
    position: relative;
    top: 4rem;
}


.group {
    margin: 4rem auto;

    .title {
        margin-bottom: 2rem;
    }
}

.sidebar {
    width: 20rem;
    border-right: 1px solid;
    top: 4rem;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;

    .nav {

        .nav-back {
            border-bottom: 1px solid;
            padding: 1rem 1.5rem;

            .nav-link {
                font-size: .9375rem;
            }
        }

        .nav-list {
            padding: 1rem 1.5rem;

            .nav.root {
                padding-bottom: 1rem;
            }
        }

        .nav-header {
            font-size: 0.9375rem;
            line-height: 2rem;
        }

        .nav-link {
            font-size: 0.9375rem;
            padding: 0 0 0 1rem;
            line-height: 2rem;
        }
    }
}

.content {

    p {

    }

    a {

    }

    blockquote {

    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: $wb-base-spacer;

        th,
        td {
            padding: $wb-block-table-td-padding;
            vertical-align: top;
            border-top: $wb-block-table-border-width solid $wb-block-table-border-color;
        }

        thead th {
            vertical-align: bottom;
            border-bottom: (2 * $wb-block-table-border-width) solid $wb-block-table-border-color;
        }

        tbody + tbody {
            border-top: (2 * $wb-block-table-border-width) solid $wb-block-table-border-color;
        }

        table {
            background-color: $wb-base-background-color;
        }
    }
}

