.page-template--modular {

    .main {
        overflow: hidden;
        position: relative;
        top: 0;
        padding: 0;

        .modular {
            position: relative;
        }

        .modular.inset {
            padding: 4rem 0;
        }

    }

}