.page-template--modular {

  .main {
    position: relative;
    top: 0;
    padding: 0;
    overflow: hidden;

    .modular {
      position: relative;
    }

    .modular.inset {
      padding: 4rem 0;
    }

  }

}
