.page-template--resource {

  .main {
    padding: 0;
  }

  .resource {
    position: relative;
    padding: 8rem 0 4rem 20rem;
  }

  .title + .description {
    margin-bottom: 2.5rem;
  }

  .container {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }

  .method-title {
    margin-bottom: 1rem;
  }

  .method-http {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 4px;
  }

  .method-http-verb {
    flex: 0 0 4rem;
    padding: 0 0.25rem;
    line-height: 2.25rem;
    text-align: center;
    border-radius: 4px 0 0 4px;
  }

  .method-http-path {
    padding: 0 0.25rem;
    margin-left: 0.5rem;
    line-height: 2.25rem;
    border-radius: 0 4px 4px 0;
  }

  .definition-title {
    margin-bottom: 1rem;
  }

  .definition-items {
    padding: 0;
    list-style: none;

    .definition-item:first-child {
      border-top: 1px solid;
    }

    .definition-item {
      padding: 1.5rem 0;
      list-style: none;
      border-bottom: 1px solid;
    }
  }
}
