{# defined class #}
{% set classes = 'badge' %}

{# mutable class, required #}
{% set classes = classes ~ ' badge-' ~ class.style|default('default') %}

{# toggle class, optional #}
{% if class.dismissible is same as(true) %}
    {% set classes = classes ~ ' alert-dismissible fade show' %}
{% endif %}

<span class="{{ style }}">{{ badge.content }}</span>