{% macro button_group(items, parent) %}
    {% set class = 'btn-group' %}

    {% if button_group.class.margin %}
        {% do class ~ ' m' ~ button_group.class.margin.sides ~ button_group.class.margin|default('3') %}
    {% elseif %}

    {% if button_toolbar.class.padding %}
        {% do class ~ ' p' ~ button_group.class.padding.sides ~ button_group.class.padding|default('3') %}
    {% elseif %}

    <div class="btn-group mr-2" role="group">
        {% for item in items %}
            {% include 'template.html' with {'foo': 'bar'} %}
        {% endfor %}
    </div>
{% endmacro %}

{% set classes = 'btn-toolbar' %}

{% if class.margin %}
    {% set classes = class ~ ' m' ~ button_toolbar.class.margin.sides ~ button_toolbar.class.margin|default('3') %}
{% elseif %}

{% if button_toolbar.class.padding %}
    {% set classes = class ~ ' p' ~ button_toolbar.class.padding.sides ~ button_toolbar.class.padding|default('3') %}
{% elseif %}

{% if button_group.toolbar %}
    <div class="{{ classes }}" role="toolbar" aria-label="Toolbar with button groups">
    {{ _self.button_group(pages) }}
    </div>
{% else %}
    {{ _self.button_group(pages) }}
{% endif %}