{% set classes = 'card-' ~ class.type|default('group') %}

{% if class.wrap %}
    {% set classes = classes ~ ' flex-' ~ class.wrap %}
{% endif %}

{% if class.justify is not empty %}
    {% set classes = classes ~ ' justify-content-' ~ class.justify %}
{% endif %}

{% if class.align_items is not empty %}
    {% set classes = classes ~ ' align-items-' ~ class.align_items %}
{% endif %}

{% if class.align_content is not empty %}
    {% set classes = classes ~ ' align-content-' ~ class.align_content %}
{% endif %}

<div class="{{ classes }}">
    {% block cards %}
        {% for item in items %}
            {% set vars = {
                'class': { 'outline': false, 'align': left },
                'image_top': item.image_top,
                'header': { },
                'title': item.title,
                'subtitle': item.subtitle,
                'text': item.content,
                'action': { 'href': item.uri, 'text': item.text  },
                'footer': { },
                'image_bottom': item.image_top,
            } %}
            {% include 'cards.html.twig' with vars %}
        {% endfor %}
    {% endblock %}
</div>