{% set classes = 'jumbotron' %}

{% if class.outline is same as (true) %}
    {% set classes = classes ~ ' jumbotron-fluid' %}
{% endif %}

<div class="{{ classes }}">
    <div class="container">
        <h1 class="display-3">{{ title }}</h1>
        <p class="lead">{{ lead }}</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>