{# defined class #}
{% set classes = 'nav' %}

{% if vertical is same as(true) %}

    {% set classes = classes ~ ' flex-column' %}

{% else %}

    {# mutable class, required #}
    {% if class.style is not empty %}
        {% set classes = classes ~ ' nav-' ~ class.style %}
    {% endif %}

    {# mutable class, required #}
    {% if class.topography is not empty %}
        {% set classes = classes ~ ' nav-' ~ class.topography %}
    {% endif %}

    {# mutable class, required #}
    {% if class.justify is not empty %}
        {% set classes = classes ~ ' justify-content-' ~ class.justify %}
    {% endif %}
{% endif %}

<nav class="{{ classes }}" role="navigation">
    {% block navs %}
    {% endblock %}
</nav>

{% block pane %}{% endblock %}