$theme: (
    body-background-color: #010E16,
    body-text-color: #000000,
    nav-background-color: #010E16,
    nav-text-color: #000000,
    header-background-color: #010E16,
    header-background-text: #000000,
    main-background-color: #010E16,
    main-text-color: #000000,
    footer-background-color: #010E16,
    footer-text-color: #000000
)
