{# extends base template partial #}
{% extends 'partials/base.html.twig' %}

{# set collection variable, from page class API #}
{% set groups = page.header.groups %}

{% block content %}
    <div class="container">
        <div class="content">
            {{ page.content }}
        </div>
    </div>

    {% for group in groups %}
        <section class="api-cards container group">
            <h2 class="title">{{ group.name }}</h2>
            {% set vars = {
                'class': { 'type': 'deck', 'align_content': 'start', 'align_items': 'start' }
            } %}
            {% embed 'bootstrap/card-group.html.twig' with vars %}
                {% block cards %}
                    {% set parents = group.parents %}
                    {% for parent in parents %}
                        {% set vars = {
                            'class': { 'outline': false, 'align': 'center' },
                            'top': { 'text': parent.name },
                            'image_top': {
                                'url': page.media[parent.image_selected].resize(parent.image_width, parent.image_height).url,
                                'link': page.find(parent.path).children.first.url
                            },
                            'list': page.find(parent.path).children
                        } %}
                        {% include 'bootstrap/cards.html.twig' with vars %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </section>
    {% endfor %}
{% endblock %}