{# extends base template partial #}
{% extends 'partials/base.html.twig' %}

{# set collection variable, from page class API #}
{% set items = page.collection() %}

{% block header %}
	<header id="header" class="fixed-top">
		{% block navigation %}
			{% set vars = {
			'class': { 'toggleable': "md", 'theme': 'inverse', 'style': 'inverse' }
			} %}
			{% include 'bootstrap/navbar.html.twig' with vars %}
		{% endblock %}

        {# include breadcrumbs needed with collection items, not global to site #}
        {% if config.plugins.breadcrumbs.enabled %}
            {% include 'bootstrap/breadcrumb.html.twig' %}
        {% endif %}
	</header>

{% endblock %}

{% block content %}
	{# define section element type #}
	<section class="blog-cards text-center">
		<div class="container">
			<div class="card-deck">
				{% for item in items %}
					{% include 'partials/blog_item.html.twig' with { 'blog': page, 'page': item, 'truncate': true } %}
				{% endfor %}

				{% if config.plugins.pagination.enabled and items.params.pagination %}
					{% include 'partials/pagination.html.twig' with { 'base_url': page.url, 'pagination': items.params.pagination } %}
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}