{# extends base template partial #}
{% extends 'partials/base.html.twig' %}

{% import 'macros/pages.html.twig' as pageMacros %}

{# set collection variable from page class API #}
{% set groups = page.header.groups %}

{% block content %}

    <div class="documents">
        <div class="intro">
            {% set vars = {
                'title': page.title,
                'image': { 'uri': pageMacros.header_image(page, 'cropResize', 2560, 640) },
                'terminal_title': 'TargetDummy Console'
            } %}
            {% include 'partials/intro/terminal.html.twig' with vars %}
        </div>

        {% if page.content %}
            <div class="container">
                <div class="content">
                    {{ page.content }}
                </div>
            </div>
        {% endif %}

        {% for group in groups %}
            <section class="api-cards container group">
                <h2 class="title">{{ group.name }}</h2>
                {% set vars = {
                    'class': { 'type': 'deck', 'align_content': 'start', 'align_items': 'start' }
                } %}
                {% embed '@bootstrap/components/card-group.html.twig' with vars %}
                    {% block cards %}
                        {% set parents = group.parents %}
                        {% for parent in parents %}
                            {% set vars = {
                                'class': { 'outline': false, 'align': 'center' },
                                'top': { 'text': parent.name },
                                'list': page.find(parent.path).children
                            } %}
                            {% include '@bootstrap/components/card.html.twig' with vars %}
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            </section>
        {% endfor %}
    </div>
{% endblock %}