{% extends 'partials/base.html.twig' %}

{% set items = page.collection() %}

{% block content %}
    <header class="container-fluid">
        <h1 class="title">{{ page.title }}</h1>
        <div class="description">
            {{ page.content }}
        </div>
    </header>
    {% for item in items %}
        {% include 'partials/resource_item.html.twig' with { 'resource': page, 'page': item, 'truncate': true } %}
    {% endfor %}
{% endblock %}