.mac.window {
    height: 100%;
    width: 80%;
    background: #ffffff;
    border-top: 1px solid #acacac;
    border-right: 1px solid #acacac;
    border-left: 1px solid #acacac;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.35);
    margin: 0 auto;

    .titlebar {
        color: #4d494d;
        background: linear-gradient(to bottom, #ebebeb, #d5d5d5);
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #b1aeb1;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        user-select: none;
        cursor: default;
        padding: 0.4rem 0;
        white-space: nowrap;

        .button {
            float: left;
            display: inline-block;
            padding: 0 0.35rem;
        }

        .action {
            height: 1.15rem;
            width: 1.15rem;
            line-height: 1.15rem;
            padding: 0 0.5rem;
            border-radius: 50%;
        }

        .action-close {
            background: #ff5c5c;
            border: 1px solid #e33e41;
            color: #820005;
            cursor: default;
        }

        .action-minimize {
            background: #ffbd4c;
            border: 1px solid #e09e3e;
            color: #9a5518;
            cursor: default;
        }

        .action-zoom {
            background: #00ca56;
            border: 1px solid #14ae46;
            color: #006519;
            cursor: default;
        }
    }

    .content {
        padding: 1.75rem 2.5rem;
    }
}